<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CRUD - hub_help</title>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/css/bootstrap/bootstrap.css">
	<!-- main css -->
	<link rel="stylesheet" href="/css/main.css">
	<!-- Bootstrap JS Bundle -->
	<script src="/js/bootstrap/bootstrap.bundle.js" defer></script>

</head>
<body>
	<nav class="navbar navbar-expand-lg bg-light">
		<div class="container-fluid">
			<a class="navbar-brand disabled" >Hub Help<a/>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Link</a>
					</li>
				</ul>
				<div class="w-auto" role="search">
					<form class="requires-validation" method="post" action="/" novalidate>
						<div class="input-group has-validation">
							<input type="text" class="form-control" name="searchInput" placeholder="Buscar..." maxlength="100" pattern="[a-zA-z0-9 çáàãâéíóôõúÇÁÀÃÂÉÍÓÔÕÚ.-]*">
							<button class="btn btn-outline-primary" type="submit" id="search-btn">
								<i class="bi bi-search"></i>
							</button>
							<div class="invalid-feedback">
								Entre somente letras e numeros.
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</nav>
	<div class="container pt-5 pb-5">
		{{{body}}}
	</div>
</body>
</html>